/* CSS Document */
/*Css 初始化*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }  /*让这些的标签内外边距都是0*/
fieldset, img { border:none;  }
img{display: block;} 
ul, ol { list-style:none; }	
body { color:#6C6C6C;font-family:'微软雅黑';}
area{outline:none;}
 a{ color:#666; text-decoration:none; }
 a:visited { color:#666; }
 a:hover, a:active, a:focus { color:#f40; text-decoration:none; }
 
 /*清除浮动*/
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
/*版心*/
.banxin{
	width:1190px;
	margin:0 auto;
	/*overflow:hidden;*/	
}
/*图标文字*/
@font-face {
		font-family: 'iconfont';
		src: url('../font/iconfont.eot'); /* IE9*/
		src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
		url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */		
		
}

/*头部*/
.header{
	height:37px;
}
.header .header-in{
	height:37px;
	font-size:12px;

}
.header .header-in .us{
	height:37px;
	width:234px;
	float:left;	
}
.header .header-in .us ul li{
	line-height:37px;
	float:left;
	margin-right:20px;
}
.header .header-in .us ul li a:hover{
	color:#F22E00;	
}
.header .header-in .us ul .qin{
	color:#F22E00;
	margin-left:5px;	
}
.header .header-in .h-nav{
	height:37px;
	width:600px;
	float:right;	
}
.header .header-in .h-nav ul li{
	float:left;
	line-height:37px;
	margin-right:16px;	
}
.header .header-in .h-nav ul .shuxian{
	margin-left:5px;
	margin-right:12px;
}
.header .header-in .h-nav ul li a{
	float:left;	
}
.header .header-in .h-nav ul li .da{
	float:left;	
	width:12px;
	height:7px;
	display:block;
	overflow:hidden;
	margin-top:17px;
}
.header .header-in .h-nav ul li .da .iconfont{
	margin-top:-18px;
	display:block;
}
.h-nav ul li .iconfont{
	color:#9C9C9C;	
}

.h-nav ul li span{
	color:#FF4400;
	font-family:"iconfont";	
}


/*h-banner*/
.h-banner{
	height:90px;
}
.h-banner img{
	display:block;
}
/*搜索板块*/
.ss{
	height:95px;
	padding-left:250px;
	width:940px;
	padding-top:31px;
	position:relative;	
}
.erweima{
	position:absolute;
	right:0;
	top:11px;
	cursor:pointer;	
}
.ss .ss-left{
	float:left;
	width:760px;
	height:95px;	
}
.ss .ss-right{
	float:left;
	height:95px;
	width:180px;
}
.ss .ss-left .up a{
	width:50px;
	height:25px;
	line-height:25px;
	font-size:12px;
	color:#3C3C3C;
	display:block;
	float:left;
	text-align:center;
}
.ss .ss-left .up a:hover{
	background:#ffeee5;
	color:#ff5d0e;	
}
.ss .ss-left .up .hot{
	background:#FF5400;
	color:#fff;
	font-weight:bold;	
}
.ss .ss-left .up .hot:hover{
	background:#FF5400;
	color:#fff;	
}
.ss .ss-left .up{
	height:25px;
}
.ss .ss-left .center{
	height:40px;
}
.ss .ss-left .center .center-in{
	width:721px;
	height:40px;
	float:left;
}
.ss .ss-left .center .center-in .wenzi{
	width:618px;
	height:34px;
	background:#FF5500;	
	float:left;
	padding:3px 0 3px 3px;
}
.ss .ss-left .center .center-in .wenzi .wenbenkuang{
	width:618px;
	height:34px;
	background:#FFF;
	position:relative;
}
.center-in .wenzi .wenbenkuang .in-text{
	width:582px;
	height:32px;
	border:none;
	outline:none;
	padding-left:31px;
	color:#9C9C9C;
	line-height:37px;
}
.center-in .wenzi .wenbenkuang .fangdajing{
	font-family:"iconfont";
	position:absolute;
	left:12px;
	top:12px;
	color:#CCCCCC;
}
.center-in .wenzi .wenbenkuang .xiangji img{
	position:absolute;
	right:9px;
	top:10px;	
}
.ss .ss-left .center .center-in .anniu{
	width:100px;
	height:40px;
	background:#FF4200;
	float:left;
}
.center .center-in .anniu .btn{
	width:100px;
	height:40px;
	background:#FF4200;
	border:none;
	outline:none;
	font-size:20px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;	
}
.center .gaoji{
	width:39px;
	height:40px;
	float:right;	
}
.center .gaoji .wz{
	font-size:12px;
	color:#6C6C6C;
	width:27px;
	display:block;
	float:right;
	line-height:18px;
}
.ss .ss-left .down{
	height:30px;
}
.ss .ss-left .down a{
	font-size:12px;
	color:#6C6C6C;
	line-height:30px;
	float:left;
	margin-right:8px;
}
.ss .ss-left .down .gengduo{
	float:right;
	display:inline-block;
	width:39px;
	height:18px;
	border:1px solid #eee;
	text-align:center;
	margin-top:5px;	
	line-height:20px;
	margin-right:39px;
}

.ss .ss-left .down .hot{
	color:#FF4400;	
}

.ss .ss-left .down .gengduo:hover{
	background:#f40;
	color:#fff;	
	width:43px;
	height:22px;
	border:0;
}
.ss .ss-left .down .down-on{
	height:30px;
	width:43px;	
	background:#0CF;
	float:left;
}
/*主体*/
.body{
	height:543px;
}
.body .body-l{
	width:167px;
	height:515px;
	border:5px solid #EE0A3B;
	float:left;
	position:relative;
	padding-left:13px;
	margin-bottom:19px;
}
.body .body-l .logo{
	position:absolute;
	top:-125px;
	left:-30px;	
}
.body .body-l .l-head{
	border-bottom:6px solid #EE0A3B;
	line-height:22px;
	font-size:12px;
	font-family:"微软雅黑";
	text-align:center;
	background:#EE0A3B;
	font-style:bold;
	color:#fff;
	margin-bottom:3px;
	margin-left:-13px;
}
.body .body-l span{
	width:22px;
	height:24px;
	background:#000;
	border-radius:4px;
	margin:0 4px;	
}
.body .body-l dl{
	font-family:"微软雅黑";	
	color:#3C3C3C;
	margin-bottom:5px;
	display:inline-block;
}
.body .body-l dl dt{
	font-size:14px;
	line-height:32px;
}
.body .body-l dl .bj span{
	width:20px;
	height:20px;
	background:url(../iamges/sprite%20.png) -110px -98px;
	vertical-align:middle;
	display:inline-block;
	margin-top:-4px;	
}
.body .body-l dl .bj .bj{
	background-position:-207px -83px;
}
.body .body-l dl .bj .bj1{
	background-position:-90px -98px;
}

.body .body-l dl dd{
	font-size:12px;
	line-height:25px;
}
.body .body-l dl dd div a{
	float:left;	
	margin-right:16px;
}
.body .body-l dl .ts a{
	width:60px;	
	line-height:25px;
	float:left;
}
.hots .left .lianjie a:hover{color:#f40;}
.body .body-l dl .ts .hot{
	position:relative;	
}
.body .body-l dl .ts .hot img{
	position:absolute;
	right:2px;
	top:-1px;
}	
.body .body-l dl .ts .five{
	width:36px;	
}
.body .body-l dl .cx a{
	width:60px;	
	line-height:25px;
	float:left;
}
.body .body-l dl .cx .five{
	width:36px;	
}
.body .body-l dl dd  .sj{
	background:url(../iamges/sj.png) no-repeat right center;
	width:160px;
	height:25px;
}
.body .body-l .wangwang{
	margin-top:2px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#3C3C3C;
	line-height:33px;
	border-top:1px solid #EEEEEE;
}

.body .body-l .wangwang a{
	width:60px;
	float:left;	
}
.body .body-l .wangwang .five{
	width:36px;	
}
.body .body-r{
	width:990px;
	height:543px;
	float:right;
}
.body .body-r .r-head{
	height:33px;
	border-bottom:2px solid #f40;
}
.body-r .r-head .head-l{
	width:294px;
	height:33px;
	float:left;	
}
.body-r .r-head .head-l li{
	float:left;	
	font-size:14px;
	font-weight:bold;
	line-height:33px;
	color:#f40;
	margin-right:28px;
}
.body-r .r-head .head-l li a{
	color:#f40;
	line-height:33px;
}	
.body-r .r-head .head-l li a .tm{
	margin-top:-2px;
	margin-right:-14px;	
}
.body-r .r-head .head-l li a .jhs{
	margin-right:29px;	
}
.body-r .r-head .head-l li a .cs{
	margin-right:30px;	
}
.body-r .r-head .head-l li a .tt{
	margin-right:23px;	
}
.body-r .r-head .head-l li a .sx{
	margin-right:20px;	
}
.body-r .r-head .head-r{
	width:600px;
	height:33px;
	float:left;		
}
.body-r .r-head .head-r li{
	float:left;	
	font-size:14px;
	font-weight:bold;
	margin-right:23px;
}
.body-r .r-head .head-r li a{
	color:#3C3C3C;
	line-height:33px;	
}
.body-r .r-head .head-r li a:hover{
	color:#f40;
}
.body-r .r-body{
	width:990px;
	height:495px;
	padding-top:7px	
}
.body-r .r-body .r-body-l{
	width:520px;
	height:502px;
	float:left;
}
.body-r .r-body .r-body-l .l-banner{
	width:520px;
	height:280px;
	position:relative;
}
.body-r .r-body .r-body-l .l-banner span{
	width:40px;
	height:40px;
	background:rgba(0,0,0,0.5);
	line-height:40px;
	text-align:center;
	font-size:32px;
	color:#fff;
	position:absolute;
	left:0;
	top:120px;
	font-weight:bold;
	cursor:pointer;	
}
.body-r .r-body .r-body-l .l-banner .arr-r{
	left:auto;
	right:0;
}
.body-r .r-body .r-body-l .l-banner ul{
	width:61px;
	height:9px;
	background:rgba(0,0,0,0.3);
	position:absolute;
	left:50%;
	bottom:15px;
	margin-left:-32px;
	padding:2px;
	border-radius:6px;
}
.body-r .r-body .r-body-l .l-banner ul li{
	width:9px;
	height:9px;
	background:rgba(0,0,0,0.5);
	margin-right:4px;
	float:left;
	border-radius:6px;
}
.body-r .r-body .r-body-l .l-banner ul .no{
	margin-right:0;
	background:#F40;	
}
.body-r .r-body .r-body-l .l-bp{
	width:520px;
	height:200px;
	margin-top:3px;
	overflow:hidden;
	position:relative;
}
.body-r .r-body .r-body-l .l-bp .tm{
	width:32px;
	height:11px;
	background:url(../iamges/sprite%20.png) no-repeat -146px -119px;
	position:absolute;
	left:47%;
	bottom:0px;	
	margin-left:3px;
}
.body-r .r-body .r-body-l .l-bp .img{
	width:523px;	
}
.body-r .r-body .r-body-l .l-bp span{
	width:40px;
	height:40px;
	background:rgba(0,0,0,0.5);
	line-height:40px;
	text-align:center;
	font-size:32px;
	color:#fff;
	position:absolute;
	left:0;
	top:80px;
	font-weight:bold;
	cursor:pointer;	
}
.body-r .r-body .r-body-l .l-bp .arr-r{
	left:auto;
	right:0;	
}
.body-r .r-body .r-body-l .l-bp .img li{
	float:left;
	margin-right:1px;	
}
.body-r .r-body .r-body-l .l-bp .img .no{
	margin-right:0;	
}
.body-r .r-body .r-body-l .l-bp .gd{
	/*width:74px;
	height:9px;
	background:rgba(0,0,0,0.3);*/
	position:absolute;
	left:50%;
	bottom:15px;
	margin-left:-32px;
	padding:2px;
	border-radius:6px;
}
.body-r .r-body .r-body-l .l-bp .gd li{
	width:9px;
	height:9px;
	background:rgba(0,0,0,0.5);
	margin-right:4px;
	float:left;
	border-radius:6px;
}
.body-r .r-body .r-body-l .l-bp .gd .no{
	margin-right:0;
}

.body-r .r-body .r-body-c{
	width:167px;
	height:502px;
	float:left;
	margin-left:3px;
	overflow:hidden;
	
}
.body-r .r-body .r-body-c img{
	cursor:pointer;
}	
.body-r .r-body .r-body-c .tb{
	margin-bottom:3px;	
}
.body-r .r-body .r-body-r{
	width:288px;
	height:481px;
	float:right;
	border:1px solid #EEEEEE;
	overflow:hidden;
}
.body-r .r-body .r-body-r .nav{
	height:26px;width:288px;border-bottom:1px #EEEEEE solid;
}
.nav-in{width:301px;}
.nav li{float:left;width:56px; height:26px;text-align:center;line-height:26px;background:#F7F7F7;}
.nav .current{border-left:#EEEEEE 1px solid;border-right:#EEEEEE 1px solid;border-bottom:1px solid #fff;background:#fff;
			font-weight:bold;}
.nav .current a{color:#f40;}
.nav li a{font-size:12px;color:#3C3C3C}
.body-r .r-body .r-body-r .lt{
	height:60px;
	border-bottom:1px #eee solid;
	padding-top:11px;
	padding-left:10px;
}
.body-r .r-body .r-body-r .lt a{
	font-size:12px;
	line-height:25px;
	color:#3c3c3c;
	margin-right:3px;	
}
.body-r .r-body .r-body-r .lt .hot{
	color:#f40;	
}
.body-r .r-body .r-body-r .hello{
	width:288px;
	height:95px;
	border-bottom:1px #eee solid;
	padding-top:25px;
	padding-left:11px;
	font-size:12px;
	/*padding-left:70px;*/
}
.body-r .r-body .r-body-r .hello .nh{
	position:relative;
	margin-left:70px;
}
.body-r .r-body .r-body-r .hello .nh img{
	position:absolute;
	width:60px;
	height:60px;
	background:url(../iamges/sprite%20.png) 0 -133px no-repeat;	
	left:-65px;
	top:-10px;
}
.body-r .r-body .r-body-r .hello .text{
	line-height:38px;	
	padding-left:20px;
	background:url(../iamges/tjb.png) no-repeat left center;
	margin-left:70px;
}
.body-r .r-body .r-body-r .hello .text a{
	color:#f40;
}
.body-r .r-body .r-body-r .hello .kaidian{
	margin-top:6px;
	cursor:pointer;
}	
.body-r .r-body .r-body-r .hello .kaidian li{
	width:75px;
	background:#f40;
	float:left;
	margin-left:7px;
	line-height:25px;
	text-align:center;
	color:#fff;
	font-weight:bold;
}
.body-r .r-body .r-body-r .hello .kaidian .login{
	width:82px;
	display:block;
	background:url(../iamges/login.png) no-repeat #f40 15px center;
	padding-left:10px;
}
.body-r .r-body .r-body-r .top{
	height:44px;
	border-bottom:1px solid #eee;
	padding-left:14px;
	overflow:hidden;
	font-size:12px;
	color:#3C3C3C;
	line-height:44px;
}
.body-r .r-body .r-body-r .top span{
	width:55px;
	height:16px;
	background:url(../iamges/sprite%20.png) -146px -103px;
	display:inline-block;
	margin-right:8px;
	vertical-align:middle;
}
.body-r .r-body .r-body-r .top font{
	color:#f40;	
}
.body-r .r-body .r-body-r .dh{
	width:300px;cursor: pointer;
}
.body-r .r-body .r-body-r .dh ul li{
	width:57px;
	height:52px;
	border:1px solid #eee;
	float:left;
	margin-left:-1px;
	margin-top:-1px;
	text-align:center;
	padding-top:20px;
}
.body-r .r-body .r-body-r .dh ul .da{
	width:115px;
	height:115px;
	font-size:51px;
	padding-top:30px;
}
.body-r .r-body .r-body-r .dh ul li .iconfont{
	font-family:"iconfont";
	color:#f40;
}
ul li .text{
	font-size:12px;
	margin-top:13px;
	display:block;
}
/*.hots{height:69px;border:1px #E8E8E8 solid;margin-bottom:10px;}
.hots .left{width:865px;height:55px;float: left;padding:12px 17px;}
.hots .left .tiaoti{width:40px;font-size:14px;margin-top:5px;color:#3F3F3F;line-height:18px;margin-right: 6px;float: left;}
.hots .left .lianjie{width:190px;height:42px;float: left;padding-right:9px;border-right: 1px solid #e8e8e8;margin-right: 20px}
.hots .left .current{width:252px;}
.hots .left .lianjie a{width:48px;font-size:12px;margin-right:15px;color:#565656;float: left;display:block;margin-top:3px;}
.hots .left .china{width:271px;height:42px;float: left;}
.hots .left .china-l{width:164px;height:42px;float: left;margin-top:3px;}
.hots .left .china-l a{font-size:12px;margin-right:10px;}
.china-l img{margin-right:19px;float: left;}
.china-r{float: left;}

.hots .right{width:288px;height:69px;float: left;border-left:1px solid #e8e8e8;}

h3{font-size:16px;border-left:2px solid #f40 ;padding-left:12px;position: absolute;top:15px;left:-1px;}
.biaoti{height:22px;padding-bottom:12px}
.main .left{width:888px;float: left;}
.caoliu{height:295px;border:1px solid #E8E8E8;padding:15px 0 0 12px;position: relative;}
.caoliu .caoliu-l{float: left;width:433px;}
.caoliu .caoliu-l a{font-size:12px;color:#3C3C3C;}
.caoliu .caoliu-l a.hot{color:#f40;}
.caoliu .caoliu-l ul{height:31px;}
.caoliu .caoliu-l li{float: left;margin-right:9px;margin-top: 8px;}
.caoliu .caoliu-l li:first-child{font-weight:bold;}
.caoliu .caoliu-r{float: left;width:430px;}
.caoliu .caoliu-r .top{margin-bottom:9px;}
.caoliu .caoliu-r .l{float: left;}
.caoliu .caoliu-r .c{float: left;margin-left:10px;}
.caoliu .caoliu-r .r{float: right;}
.yundong{margin:13px 0;height:258px;border:1px solid #E8E8E8;position: relative;}
.yundong .yundong-l{width:422px;border-right:1px solid #E8E8E8;height:243px;padding:15px 7px 0 15px;}
.yundong .yundong-l .l-c{width:422px;height:96px;border-bottom:1px solid #E8E8E8;padding-top:16px;}
.mfsc{height:70px;width:880px;padding:0 4px;}
.keji{height:258px;border:1px solid #E8E8E8;margin:14px 0;}
.chihuo{height:258px;border:1px solid #E8E8E8;}
.dczx{width:880px;padding:14px 4px;height:70px;}
.jiaju{height:310px;border:1px solid #E8E8E8;}
.chihe{height:258px; border:1px solid #e8e8e8;margin:14px 0;}
.duoshou{height:70px;width:880px;padding:0 4px;}
.qicheyongpin{height:258px;border:1px solid #e8e8e8;margin:12px 0;}
.shenghuo{height:250px;width:879px;border:1px solid #e8e8e8;}
.jianinahua{height:70px;width:880px;margin:12px 0;}


.main .right{float: right;width:288px;border:1px solid #e8e8e8;margin-bottom: 12px;}
.app{height:92px;border-bottom:1px solid #e8e8e8;}
.gushi{height:70px;border-bottom:1px solid #e8e8e8; }
.dianjia{background:#F7F7F7;height:2168px;}
.dianjiadown{float: right;}*/